main {
    grid-area: main;
    background-color: #fff;
    overflow-y: auto;
}

main .box-shadow {
    width: calc(100% - 5em);
    max-width: 1050px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr auto;
}

main .box-shadow .box-top-form-mhs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;
    box-sizing: border-box;
}

main .box-shadow .box-top-form-mhs .top-form-mahasiswa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

main .box-shadow .box-top-form-mhs .top-form-mahasiswa h1 {
    font-family: "Poppins-SemiBold";
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0 !important;
}

main .box-shadow .box-top-form-mhs .top-form-mahasiswa p {
    font-family: "Poppins-Light";
    font-size: 0.75rem;
    color: #333;
    margin-bottom: 0 !important;
    line-height: 1.5em;
}

main .box-shadow .box-top-form-mhs .middle-form-mahasiswa {
    display: flex;
}

main .box-shadow .box-top-form-mhs .middle-form-mahasiswa form {
    width: 100%;
    /* background-color: lightcoral; */
}

main .box-shadow .box-top-form-mhs .middle-form-mahasiswa form label {
    font-family: "Poppins-Regular";
    font-size: 0.85rem;
    color: #333;
}

main .box-shadow .box-top-form-mhs .middle-form-mahasiswa form input {
    font-family: "Poppins-Light";
    font-size: 0.85rem;
    color: #333;
    box-shadow: none !important;
    background-color: #fff;
    border: 0.5px solid #19AC4B;
}

main .box-shadow .box-top-form-mhs .middle-form-mahasiswa form select {
    font-family: "Poppins-Light";
    font-size: 0.85rem;
    color: #333;
    box-shadow: none !important;
    border: 0.5px solid #19AC4B;
}

main .box-shadow .box-top-form-mhs .middle-form-mahasiswa form button {
    font-family: "Poppins-Light";
    font-size: 0.85rem;
    color: #fff;
    background-color: #19AC4B;
    border: none;
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa {
    display: flex;
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa .tbl-mhs {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa .tbl-mhs .shadow {
    display: grid;
    grid-template-rows: 1fr auto;
    overflow-x: auto;
    box-shadow: none !important;
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa .tbl-mhs .tbl-head {
    display: grid;
    grid-template-columns: 50px repeat(9, 150px);
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa .tbl-mhs .tbl-head p {
    font-family: "Poppins-Regular";
    font-size: 0.9rem;
    color: #333;
    text-align: center;
    flex: 1;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 0.5em;
    background-color: #A8DF8E;
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa .tbl-mhs .tbl-body {
    display: flex;
    flex-direction: column;
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa .tbl-mhs .tbl-body .rows {
    display: grid;
    grid-template-columns: 50px repeat(9, 150px);
    border-bottom: 0.5px solid #333;
}

main .box-shadow .box-top-form-mhs .bottom-mahasiswa .tbl-mhs .tbl-body .rows p {
    font-family: "Poppins-Light";
    font-size: 0.85rem;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.3em;
    flex: 1;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #fff;
}

main .box-shadow .box-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    box-sizing: border-box;
}

main .box-shadow .box-bottom p {
    margin: 0 !important;
    text-align: center;
    font-family: "Poppins-Regular";
    font-size: 0.8rem;
    color: #333;
    line-height: 1.3em;
}